<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>cadastrarFornecedor</servlet-name>
        <servlet-class>tp.controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserirFornecedor</servlet-name>
        <servlet-class>tp.controller.inserirFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarFornecedores</servlet-name>
        <servlet-class>tp.controller.listarFornecedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterarFornecedor</servlet-name>
        <servlet-class>tp.controller.alterarFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserirUsuario</servlet-name>
        <servlet-class>tp.controller.inserirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletarUsuario</servlet-name>
        <servlet-class>tp.controller.deletarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logarUsuario</servlet-name>
        <servlet-class>tp.controller.logarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarTodosUsuario</servlet-name>
        <servlet-class>tp.controller.listarTodosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterarUsuario</servlet-name>
        <servlet-class>tp.controller.alterarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastrarFornecedor</servlet-name>
        <url-pattern>/cadastrar_fornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserirFornecedor</servlet-name>
        <url-pattern>/inserirFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarFornecedores</servlet-name>
        <url-pattern>/listarFornecedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterarFornecedor</servlet-name>
        <url-pattern>/alterarFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserirUsuario</servlet-name>
        <url-pattern>/inserirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletarUsuario</servlet-name>
        <url-pattern>/deletarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logarUsuario</servlet-name>
        <url-pattern>/logarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarTodosUsuario</servlet-name>
        <url-pattern>/listarTodosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterarUsuario</servlet-name>
        <url-pattern>/alterarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
